.pytest_cache/
__pycache__/
*.py[cod]
*.so
build/
dist/
rocco.egg-info/
.DS_Store
run_encode_als/
vendor/htslib/**/*.o
vendor/htslib/**/*.pico
vendor/htslib/**/*.a
vendor/htslib/**/*.dylib
vendor/htslib/**/*.so
vendor/htslib/config_vars.h
vendor/htslib/version.h
vendor/htslib/header-exports.txt
vendor/htslib/shlib-exports-dylib.txt
